$font-family: "Inter", sans-serif;
$second-family: "Alex Brush", sans-serif;
$third-family: "Cormorant", sans-serif;

.container {
    @include mixins.container;
}

.title {
    font-family: $third-family;
    font-weight: 700;
    text-transform: uppercase;
    color: #121212;
    @include mixins.adaptiv-font (48, 28);
}

.text {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.4;
    color: #121212;
    @include mixins.adaptiv-font (16, 13);
}

.suplabel {
    font-family: $second-family;
    font-weight: 400;
    color: #fff;
    opacity: 0.75;
    @include mixins.adaptiv-font (46, 24);
}

.label {
    font-family: $font-family;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    @include mixins.adaptiv-font (32, 20);
}

.sublabel {
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25em;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #fff;
}

.viewall {
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    color: #970000;
}