.container {
    @include mixins.container;
}

.title {
    color: #121212;
    font-style: normal;
    font-family: "Cormorant",serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    @include mixins.adaptiv-font (48, 36);
}

.label {
    color: #121212;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @include mixins.adaptiv-font (26, 22);
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 20px;
    width: 100%;
    & label {
        margin-bottom: 10px;
    }

    & input {
        flex-grow: 1;
        width: 100%;
        padding: 20px;
        background-color: #F4F4F4;

        color: #000;
        font-family: "Inter",sans-serif;
        font-weight: 400;
        line-height: normal;
        &::placeholder {
            color: #898989;
            font-family: "Inter",sans-serif;
            font-weight: 400;
            line-height: normal;
        }
        &[type="radio"]{
            flex-grow: 0;
            width: 20px;
        }
    }
    & textarea {
        flex-grow: 1;
        width: 100%;
        height: 200px;
        resize: none;
        padding: 20px;
        background-color: #F4F4F4;

        color: #000;
        font-family: "Inter",sans-serif;
        font-weight: 400;
        line-height: normal;
        &::placeholder {
            color: #898989;
            font-family: "Inter",sans-serif;
            font-weight: 400;
            line-height: normal;
        }
    }
}