.container {
    @include mixins.container
}

.title {
    color: #121212;
    font-style: normal;
    font-family: "Cormorant",serif;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @include mixins.adaptiv-font (48, 30);
}

.label {
    color: #000000;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0;
    text-transform: uppercase;
    @include mixins.adaptiv-font (18, 16);
}

.description {
    color: #000;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    @include mixins.adaptiv-font (14, 12);
}

.buttonBuy {
    max-width: 100%;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    text-transform: uppercase;

    border-radius: 3px;
    background-color: #7A0000;
    padding: 15px 64px;
    border: 2px solid #7A0000;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    &:hover{
        background-color: transparent;
        color: #7A0000;
    }
}

.price {
    color: #7a0000;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0;
    text-transform: none;
    @include mixins.adaptiv-font (18, 16);
}

.prev_price {
    color: #00000075;
    font-size: 14px;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-decoration: line-through;
}